.navbar {
  background-color: #fff !important;
  .navbar-brand {
    img {
      max-height: 50px;
    }
  }
  .navbar-nav {
    .nav-item .active {
      font-size: 16px;
      font-weight: 500;
      color: #a43ce3;
    }
    .nav-item {
      a {
        font-size: 16px;
        font-weight: 400;

        &:hover {
          color: #a43ce3;
        }
      }
    }
    .btn-sign-up {
      background-color: #a43ce3;
      border-radius: 25px;
      width: 133px;
    }
    .btn-mobile-masuk {
      background-color: #d4beff;
      border-radius: 25px;
    }
    .btn-mobile-daftar {
      background-color: #a43ce3;
      border-radius: 25px;
    }
  }
  .dropdown {
    a {
      text-decoration: none;
      color: #5b5575;
      font-size: 16px;
    }
  }
}
