.section-content-carousel {
  .carousel-inner {
    .carousel-item {
      .title {
        margin-top: 123px;
        span {
          color: #11ac6a;
          font-weight: 500;
        }
        h1 {
          font-size: 42px;
          font-family: "Merriweather";
          font-weight: 600;
          color: #1e124c;
          span {
            color: #a43ce3;
            font-weight: 600;
          }
        }
      }
      .subtitle {
        font-size: 16px;
        color: #5b5575;
      }

      .btn-get-now {
        margin-top: 30px;
        background: #a43ce3;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
      }

      .figure {
        img {
          margin-top: 80px;
        }
      }
    }
  }
}
