.section-product {
  margin-top: 130px;
  h3 {
    font-family: "Merriweather";
    font-size: 32px;
    font-weight: 600;
    color: #1e124c;
  }
  p {
    color: #5b5575;
  }
  .price {
    color: #ff6b44;
  }
  .next-category {
    color: #11ac6a;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: #11ac6a;
      font-weight: 400;
      font-size: 18px;
      text-decoration: underline;
    }
  }
  figure {
    position: relative;
    img {
      border-radius: 8px;
    }
  }

  .name-product {
    color: #0c0d36;
    font-size: 20px;
    font-weight: 500;
    margin-top: -10px;
  }
}
